{% extends "./base.html" %}
{% load static %}

{% block title %} Alfedro {% endblock %}

{% block body %}
        <div class="alinear1">                
        </a>
        <h5 style="text-align: center;">El oleaje magnifico</h5>
        <a href="">    <img class="imagen" width="300" height="250" src="https://cdn.shopify.com/s/files/1/0578/3250/5396/products/cuadro_sombra_Hokusai_HokusaiOla.jpg?v=1647517551&width=550" alt="el oleaje magnifico">
        </a>
        <h6>
            HISTORIA: Surge del constante movimiento y la energía incesante de las olas.<br>
            DESCRIPCION: El choque de las crestas, la espuma que se eleva y la sensación de poderío y armonía con la naturaleza.<br>
            NOMBRE: El oleaje magnifico.<br>
            PRECIO: $100.000 CLP<br>
            TECNICA: Espatula. 
        </h6>
        <br>
        <br>
        </a>
        </a>
        <h5 style="text-align: center;">El bosque de tonos</h5>
        <a href="">    <img class="imagen" width="300" height="250"  src="{% static 'img/alfredo2.jpg' %}" alt="El bosque de tonos">
        </a>
        <h6>
            HISTORIA: Un paisaje sereno, donde los árboles se desvanecen en una paleta de colores sutiles y armoniosos.
            <br>
            DESCRIPCION: La luz juega entre las hojas, creando una atmósfera mágica y envolvente.
            <br>
            NOMBRE: El bosque de tonos.
            <br>
            PRECIO: $ 90.000 CLP
            <br>
            TECNICA: pincel alzado
            
        </h6>
        <br>
        <br>
        </a>
        </div>
        {% endblock  %}
                
    
   