{% extends "./base.html" %}
{% load static %}

{% block title %} Antonia {% endblock %}

{% block body %}
        <div class="alinear1">
                
        </a>
        <h5 style="text-align: center;">Pureza Floral</h5>
        <a href="">    <img class="imagen" width="300" height="250" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/georgia-o-keeffe-1646050959.jpg?crop=0.870xw:0.884xh;0.0570xw,0.0611xh&resize=480:*" alt="Pureza Floral">
        </a>
        <h6>
            HISTORIA: Un cuadro que representa la belleza y la pureza de la naturaleza a través de una composición floral.
            <br>
            DESCRIPCION: El cuadro captura la esencia de la pureza y resalta la exquisita simplicidad de las flores en toda su belleza.
            <br>
            NOMBRE: Pureza Floral.
            <br>
            PRECIO: $ 200.000 CLP
            <br>
            TECNICA: Paleta.
            
        </h6>
        <br>
        <br>
        </a>
        </a>
        <h5 style="text-align: center;">Encanto en Rosa</h5>
        <a href="">    <img class="imagen" width="300" height="250"  src="https://www.todocuadros.cl/media/catalog/product/cache/5/small_image/411x/9df78eab33525d08d6e5fb8d27136e95/m/o/moderno-oleo-zapatos-moda-chic.jpg" alt="Encanto en Rosa">
        </a>
        <h6>
            HISTORIA: Retrata dos zapatos de tacón con listones rosados, creando una imagen elegante y femenina.
            <br>
            DESCRIPCION: Captura la esencia de la moda y la feminidad, invitando al espectador a apreciar la elegancia.
            <br>
            NOMBRE: Encanto en Rosa
            <br>
            PRECIO: $ 70.000 CLP
            <br>
            TECNICA: pincel
            
        </h6>
        <br>
        <br>
        </a>
        </div>
        {% endblock  %}