{% extends "./base.html" %}
{% load static %}

{% block title %} Artistas Lista {% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de artistas</title>
</head>
<body>
    <h1>Lista de artistas</h1>
    <ul>
        {% for artistas in artistas %}
            <li>{{ artistas.ID_artista }} -{{ artistas.nombre_artista }} - {{ artistas.descripcion }} - {{ artistas.img }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'artistas_create' %}">Agregar artista</a>
    <a href="{% url 'artistas_update' %}">Modificar artista</a>
    <a href="{% url 'artistas_delete' %}">Eliminar artista</a>
</body>
</html>

{% endblock  %}