<!DOCTYPE html>
<html>
<head>
    <title>Agregar artista</title>
</head>
<body>
    <h1>Agregar artista</h1>
    <form method="post" action="{% url 'artistas_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="ID_artista">ID artista:</label>
        <input type="text" name="ID_artista" required><br>
        <label for="nombre_artista">Nombre Artista:</label>
        <input type="text" name="nombre_artista" required><br>
        <label for="descripcion">Descripcion:</label>
        <input type="text" name="descripcion" required><br>
        <label for="img">img:</label>
        <input type="file" name="img" required><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>