{% extends "./base.html" %}
{% load static %}

{% block title %} Artistas {% endblock %}

{% block body %}
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/alfredo.jpg' %}" class="card-img-top" width="300px" height="300px" alt="">
          <div class="card-body">
            <h5 class="card-title">Alfredo</h5>
            <p class="card-text"> Pintor vanguardista, desafía las normas con su arte
              audaz, fusionando colores y formas en composiciones
              sorprendentes.</p>
            <a href="{% url 'alfredo' %}" class="btn btn-primary">Ver Obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/antonia.jpg' %}" class="card-img-top" width="300px" height="300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Antonia</h5>
            <p class="card-text">Pintora visionaria, transforma la realidad en lienzos
              llenos de magia, revelando mundos fascinantes a través de su
              arte.
            </p>
            <a href="{% url 'antonia' %}" class="btn btn-primary">Ver obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/jorge.jpg' %}" class="card-img-top" width="300px" height="300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jorge</h5>
            <p class="card-text">Pintor introspectivo, plasma en sus obras el alma
              humana, explorando las profundidades de la emoción y la
              belleza.</p>
            <a href="{% url 'jorge' %}" class="btn btn-primary">Ver obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/jose.jpg' %}" class="card-img-top" width="300px" height="300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">José</h5>
            <p class="card-text">Pintor introspectivo, plasma en sus obras el alma
              humana, explorando las profundidades de la emoción y la
              belleza.</p>
            <a href="{% url 'jose sanhueza' %}" class="btn btn-primary">Ver obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/marcelo.jpg' %}" class="card-img-top" width="300px" height="300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Marcelo</h5>
            <p class="card-text">Pintor enigmático, con pinceladas sutiles y colores
              evocadores, transporta al espectador a un mundo de misterio y
              contemplación.
            </p>
            <a href="{% url 'marcelo' %}" class="btn btn-primary">Ver obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'img/santiago.jpg' %}" class="card-img-top" width="300px" height="300px" alt="...">
          <div class="card-body">
            <h5 class="card-title">Santiago</h5>
            <p class="card-text">Pintor innovador, rompe barreras con su creatividad
              audaz, fusionando estilos y técnicas para crear obras
              impactantes y originales.</p>
            <a href="{% url 'santiago' %}" class="btn btn-primary">Ver obras</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Obras que encontraras en nuestro centro turistico</small>
          </div>
        </div>
      </div>
    </div>
    {% endblock  %}