{% extends "./base.html" %}
{% load static %}

{% block title %} Iniciar sesión o registrarse {% endblock %}

{% block body %}
      <div class="center">
        <h1>Login</h1>
        <form method="get" action="index.html" name="frmlogin" id="frmlogin" onsubmit="return enviarformulario()">
          <div class="txt_field">
            <input type="text" name="usuario" id="usuario" >
            <label for="usuario">Nombre Usuario</label>
          </div>
          <div class="txt_field">
            <input type="email" name="correo" id="correo" >
            <label for="correo">Correo</label>
          </div>
    
          <div class="txt_field">
            <input type="password" name="clave" id="clave" >
            <label for="clave">Contraseña</label>
          </div>
    
          <input type="submit" value="Iniciar Sesión">
    
          <div class="link_Registro">
            No Tiene Cuenta? <a href="{% url 'registro' %}">Registrar</a>
          </div>
    
        </form>
      </div>
      {% endblock  %}