{% extends "./base.html" %}
{% load static %}

{% block title %} Ground Zero S.A {% endblock %}

{% block body %}
      <br/>
      <h1>Conoce algunas de nuestras obras destacas</h1>

      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img
              src="{% static 'img/6508159589406254.jpg' %}"
              class="d-block w-100"
              width="400"
              height="400"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="{% static 'img/fbed8f54d03bd9dc4a4702c53341cf38--chile-small-boats.jpg' %}"
              class="d-block w-100"
              width="400"
              height="400"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'img/pintores-chilenos-gonzalez.jpeg' %}"
              class="d-block w-100"
              width="400"
              height="400"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <h5>
        Bienvenidos al Centro Artístico, donde encontrarás una de las
        colecciones de arte más destacadas de la región, con pinturas y obras de
        arte de algunos de los artistas más renombrados del mundo. Pero eso no
        es todo lo que ofrecemos aquí: también contamos con una sección dedicada
        a los artistas emergentes, donde podrás descubrir a algunos de los
        talentos más prometedores de la escena artística local. <br><br> Nuestro centro
        es un lugar de inspiración y creatividad, donde podrás sumergirte en el
        mundo del arte y la cultura. En nuestras galerías encontrarás una amplia
        variedad de estilos y técnicas, desde el realismo hasta el
        impresionismo, el cubismo, el surrealismo y mucho más. Cada obra de arte
        es única, con su propia historia y significado, y estamos seguros de que
        encontrarás algo que te cautivará. <br><br> En nuestra sección de artistas
        emergentes, podrás descubrir a algunos de los talentos más prometedores
        de la región. Estos artistas están experimentando con nuevas técnicas y
        formas de expresión, y sus obras de arte son verdaderamente
        inspiradoras. Es emocionante ver cómo estos jóvenes artistas están
        llevando el mundo del arte en nuevas direcciones, y estamos orgullosos
        de poder mostrar su trabajo aquí en el Centro Artístico. <br><br> No importa si
        eres un apasionado del arte o simplemente estás buscando algo
        interesante que hacer en tu tiempo libre, el Centro Artístico es un
        lugar que no te puedes perder. Nuestra colección es impresionante, y
        nuestro compromiso con la promoción de artistas emergentes significa que
        siempre habrá algo nuevo y emocionante para ver aquí. <br><br> Así que si buscas
        un lugar para explorar la belleza y la creatividad del mundo del arte,
        no busques más allá del Centro Artístico. Te esperamos aquí para que
        descubras una nueva dimensión del mundo del arte.
      </h5>
      {% endblock  %}

