{% extends "./base.html" %}
{% load static %}

{% block title %} Jose Sanhueza {% endblock %}

{% block body %}
        <div class="alinear1">   
        </a>
        <h5 style="text-align: center;">El amor en cuadros</h5>
        <a href="">    <img class="imagen" width="300" height="250" src="https://cdn.aarp.net/content/dam/aarp/entertainment/art_music/2016/2016-02/1140-paintings-celebrate-love-klimt-the-kiss-esp.imgcache.rev7fee093c6153aa12a2ef1267dce6009b.web.1000.570.jpg" alt="el amor en cuadros">
        </a>
        <h6>
            HISTORIA: Un cuadro que captura la esencia de la pasión y la conexión humana.
            <br>
            DESCRIPCION: Pasión plasmada en colores, amantes entrelazados, suspiros suspendidos.
            <br>
            NOMBRE: El amor en cuadros.
            <br>
            PRECIO: $ 400.000 CLP
            <br>
            TECNICA: Acuarela.
            
        </h6>
        <br>
        <br>
        </a>
        </a>
        <h5 style="text-align: center;">El susurro del viento</h5>
        <a href="">    <img class="imagen" width="300" height="250"  src="https://media.revistaad.es/photos/60c22da1b84a603be2211994/master/w_1600%2Cc_limit/203476.jpg" alt="el susurro del viento">
        </a>
        <h6>
            HISTORIA: Inspirado en la belleza y la energía de la feminidad.
            <br>
            DESCRIPCION: Dos mujeres, erguidas y seguras de sí mismas, emanando un aura de distinción y refinamiento.
            <br>
            NOMBRE: El susurro del viento.
            <br>
            PRECIO: $ 150.000 CLP
            <br>
            TECNICA: Oleo
            
        </h6>
        <br>
        <br>
        </a>
        </div>
        {% endblock  %}