{% extends "./base.html" %}
{% load static %}

{% block title %} Marcelo {% endblock %}

{% block body %}
        <div class="alinear1">
                
        </a>
        <h5 style="text-align: center;">Barquero en aguas</h5>
        <a href="">    <img class="imagen" width="300" height="250" src="img/fbed8f54d03bd9dc4a4702c53341cf38--chile-small-boats.jpg" alt="">
        </a>
        <h6>
            HISTORIA: Inspirado en la compleja vida.
            <br>
            DESCRIPCION: Este cuadro representa la profundidad de la vida misma.
            <br>
            NOMBRE:Barquero en aguas.
            <br>
            PRECIO: $200.000 CLP
            <br>
            TECNICA: Oleo.
            
        </h6>

        <br>
        <br>
        </a>
        </a>
        <h5 style="text-align: center;">Atardecer y ondas</h5>
        <a href="">    <img class="imagen" width="300" height="250"  src="/img/6508159589406254.jpg" alt="">
        </a>
        <h6>
            HISTORIA: Inspirado en el sentimiento de bienestar.
            <br>
            DESCRIPCION: Este cuadro representa la calidad de los rayos ademas del bienestar y tranquilidad.
            <br>
            NOMBRE:Atardecer y ondas.
            <br>
            PRECIO: $300.000 CLP
            <br>
            TECNICA: Oleo.
        </h6>
        <br>
        <br>
        </a>
        </div>
        {% endblock  %}