{% extends "./base.html" %}
{% load static %}

{% block title %} Sobre nosotros {% endblock %}

{% block body %}
    <div class="container">
      <h5 style="text-align: center">Ground Zero</h5>      <div style="text-align: center">
        <img class="imgespecial" src="{% static 'img/gz title.png' %}" width="200" alt="" />
      </div>
      <br />
      <h5>
        Nuestra empresa se fundó en 1990 con el objetivo de llevar obras a más
        personas y dar a conocer el trabajo de artistas emergentes y reconocidos
        de todo el mundo. Desde entonces, hemos expuesto obras en importantes
        galerías de arte y museos alrededor del mundo, y hemos participado en
        ferias de arte y eventos culturales en distintas ciudades. <br />
      </h5>
      <h5>
        En nuestra empresa, creemos que el arte es una forma de comunicación
        universal que puede inspirar y transformar a las personas. Por eso, nos
        esforzamos por llevar nuestras obras a más personas y hacer del arte una
        experiencia accesible para todos. <br />
      </h5>
      <h5>
        Su misión es hacer del arte una experiencia accesible para todos y
        contribuir al enriquecimiento cultural de la sociedad a través de su
        compromiso con la calidad y la creatividad en cada obra que producen.
      </h5>
      <h5>
        Gracias por visitar nuestro sitio web y conocer un poco más sobre
        nosotros. Si tienes alguna pregunta o te gustaría adquirir alguna de
        nuestras obras, no dudes en ponerte en contacto con nosotros. Estaremos
        encantados de atenderte.
      </h5>
      {% endblock  %}