{% extends "./base.html" %}
{% load static %}

{% block title %} Registro {% endblock %}

{% block body %}
        <div class="center">
          <h1>Crear Cuenta</h1>
          <form method="get" action="formulario.html" name="frmlogin" id="frmlogin">
            <div class="txt_field">
              <input type="text" name="usuario" id="usuario"
               >
               <label for="usuario"> Ingrese nombre de usuario</label>
            </div>
            <div class="txt_field">
              <input type="email" name="correo" id="correo"
               >
               <label for="usuario">Ingrese su correo</label>
            </div>
    
            <div class="txt_field">
              <input type="password" name="clave" id="clave"
               >
              <label for="userPassword">Contraseña</label>
            </div>
            <input type="submit" value="Crear cuenta">
            </div>
          </form>
          {% endblock  %}